
<link rel="stylesheet" href="/css/footer.css" />
  
  <!-- footer -->
    <footer>
      <div class="about">
        <h1><span class="logo-text">THEEBAN </span> <span>Blog</span></h1>
        <p>
            "Theeban Blog" is a website created by myself, featuring insightful articles and engaging content on various topics. Join me on a journey of discovery and learning as we explore the world through words.
        </p>
        <!-- Contacts -->
        <div class="contact">
          <span>
        
           +(91) 7092798393
          </span>
          <span>
            
            
            <a href="mailto:theeban@gmail.com">
              support@theeban.com
            </a>
          </span>

        </div>
        <!-- socials -->
        <div class="socials">
          <a style="text-decoration: none;color: white;" href="https://www.youtube.com/c/pilotparthiban">
            Youtube
          </a>
            <a style="text-decoration: none;color: white;" href="https://www.youtube.com/c/pilotparthiban">
            Instagram
          </a>   <a style="text-decoration: none;color: white;" href="https://www.youtube.com/c/pilotparthiban">
            Facebook
          </a>   <a style="text-decoration: none;color: white;" href="https://www.youtube.com/c/pilotparthiban">
            LinkedIn
          </a>   <a style="text-decoration: none;color: white;" href="https://www.youtube.com/c/pilotparthiban">
            GitHub
          </a>
         
    </footer>